@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4" >Welcome to Bryce's Locomotive Emporium!</h1>
    <p id="Opening_Statement">Since 2012, We have provided a great Plethera of high quality products for Model Railroading, all done online.<br>Here You will find several grand examples of game for Your Layout from a assortment of different companies, Including Lionel, Bachmann, Hornby and More! Go ahead and check out our Database if You're curious as to our Inventory. Everything is listed from the age of said model to the price, producer and other such important characteristics.</p>
</div>



<img id="Cover_Image" src="https://www.dhresource.com/600x600/f2/albu/g9/M01/C9/E5/rBVaVV36-dCAAlczAALYRwkXRFs916.jpg" >


