<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
	<div class="Locomotive_Surface_Template" >


		<p class="LocomotiveSurface_Name">Lionel:</p>

		<img src="https://thumbs.gfycat.com/BothAdvancedIlladopsis-max-1mb.gif" class="Locomotive_Photo">


	</div>

	<div class="row">
		<div class="column">
			<h2>Pennslyvania K4 Pacific</h2>
			<a href = "Locomotive_Detail_Template" onclick="myFunction()">
				<img src="https://i.ytimg.com/vi/U97NRsXH_x8/maxresdefault.jpg" class="First_Lionel_Loco" id="K4"></a>
				


</div>
		<div class="column" >
			<h2> Pennslyvania S1 Duplex 1939</h2>
			<a href="https://en.wikipedia.org/wiki/Pennsylvania_Railroad_class_S1" >
				
				<img src="https://i.ytimg.com/vi/f1NW79_z3cc/maxresdefault.jpg" class="First_Lionel_Loco"   id="S1">
			</a>
		
		</div>
		<div class="column" >
			<h2>NYC Central J4 Hudson</h2>
			<a href="https://en.wikipedia.org/wiki/Pennsylvania_Railroad_class_S1">
				<img src="https://lh3.googleusercontent.com/proxy/lbEZtTwjD9gdY90nxWAQAQOD6vtuEweGXv--P03BCppw7lhdiZ01h9Yp8H0XRguKzUTFNgJVh3NFok44D6s" class="First_Lionel_Loco">
			</a>
		</div>
		<div class="column" >
			<h2>NYC-Inspired Electric Shunter</h2>
			<a href="https://en.wikipedia.org/wiki/Pennsylvania_Railroad_class_S1">
				<img src="https://i.ebayimg.com/images/g/1Y8AAOSwLHpf8MFb/s-l640.jpg" class="First_Lionel_Loco">
			</a>
		</div>
	
	</div>


</body>
</html>
