@{
	ViewData["Title"] = "Locomotive Selection";
}
<h1 id=" Company_Selection_Title">@ViewData["Title"]</h1>

<p id="Database_Opening">Welcome to The Emporium's database! Here, everything is seperated by brand, gauge, etc.</p>
<a href="LionelLocos">
	<img alt="" src="https://upload.wikimedia.org/wikipedia/commons/b/be/Lionel-Logo.png"
		 width=150" height="150">
</a>
